<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">	
	<!--/* footer */-->
	<!--/* footer라는 프래그먼트를 정의	*/-->
	<div th:fragment="footer" class="row border-top border-primary my-5">
	    <!-- Start Footer -->
	   <footer class="bg-dark w-100" id="tempaltemo_footer">
	        <div class="container">
	            <div class="row">
	                <!-- 회사정보 -->
	                <div class="col-md-4 pt-5">
	                    <ul class="list-unstyled text-light footer-link-list">
	                    <h2 class="h2 text-light border-bottom pb-3 border-light">DropWin</h2>
	                    <ul class="list-unstyled text-light footer-link-list">
	                        <li><strong>상호명:</strong> (주)DropWin</li>
	                        <li><strong>대표이사:</strong> 드랍인</li>
	                        <li><strong>주소:</strong> 서울특별시 관악구 삼일대로 457 3층 (01234)</li>
	                        <li>
	                            <i class="fas fa-map-marker-alt fa-fw"></i>
	                            서울 관악구 남부순환로 1820 에그엘로우
	                            <i class="fa fa-phone fa-fw"></i>
	                            <a class="text-decoration-none text-light" href="tel:027381268">02-123-4567</a>
	                        </li>
	                        <li>
	                            <i class="fa fa-phone fa-fw"></i>
	                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
	                            <i class="fa fa-fax fa-fw"></i>
	                            02-123-4567
	                        </li>
	                        <li>
	                            <i class="fa fa-envelope fa-fw"></i>
	                            <a class="text-decoration-none" href="mailto:info@company.com">DropWin@company.com</a>
	                            <a class="text-decoration-none text-light" href="mailto:master@kobay.co.kr">DropWin@dropwin.co.kr</a>
	                        </li>
	                        <li><strong>사업자 등록번호:</strong> 123-55-67899</li>
	                        <li><strong>통신판매업 신고번호:</strong> 제01-1234호</li>
	                        <li class="mt-3 small text-light">
	                            (주)DropWin은 통신판매중개자로서 (주)DropWin은 매도인인 경우를 제외하고<br>
	                            사이트 상에 등록된 모든 상품과 그 내용에 대하여 책임을 지지 않습니다.
	                        </li>
	                    </ul>
	                </div>

	                <!-- 이용약관 및 정책 -->
	                <div class="col-md-4 pt-5">              
	                    <h2 class="h2 text-light border-bottom pb-3 border-light">고객지원</h2>
	                    <ul class="list-unstyled text-light footer-link-list">
	                      <li><a class="text-decoration-none text-light" href="#">회사소개</a></li>
	                        <li><a class="text-decoration-none text-light" href="#">이용약관</a></li>
	                        <li><a class="text-decoration-none text-light" href="#">개인정보취급방침</a></li>
	                        <li><a class="text-decoration-none text-light" href="#">이메일무단수집거부</a></li>
	                        <li><a class="text-decoration-none text-light" href="#">고객센터</a></li>
	                    </ul>
	                </div>

	                <!-- 고객센터 연락처 -->
	                <div class="col-md-4 pt-5">
	                    <h2 class="h2 text-light border-bottom pb-3 border-light">고객센터 안내</h2>
	                    <ul class="list-unstyled text-light footer-link-list">

	                        <li>
	                            <strong>기획경매:</strong> 
	                            <a class="text-decoration-none text-light" href="tel:027381268">02-738-1268</a> (평일 10:00 ~ 17:00)
	                        </li>
	                        <li>
	                            <strong>물품등록:</strong> 
	                            <a class="text-decoration-none text-light" href="tel:027380552">02-738-0552</a> (평일 10:00 ~ 17:00)
	                        </li>
	                        <li>주말 및 공휴일은 휴무입니다. (점심 12:00 ~ 13:00)</li>
	                        <li class="small mt-2">※ 정확한 상담을 위해 통화내용이 저장됩니다.</li>
	                    </ul>
	                </div>
	            </div>

	            <div class="row text-light mb-4">
	                <div class="col-12 mb-3">
	                    <div class="w-100 my-3 border-top border-light"></div>
	                </div>
	                <div class="col-auto me-auto">
	                    <ul class="list-inline text-left footer-icons">
	                </div>
	            </div>
	        </div>

	        <div class="w-100 bg-black py-3">
	            <div class="container">
	                <div class="row pt-2">
	                    <div class="col-12">
	                        </div>
	            <div class="row text-light mb-4">
	                <div class="col-12 mb-3">
	                    <div class="w-100 my-3 border-top border-light"></div>
	                </div>
	                <div class="col-12 text-center">
	                    <p class="small mb-0">
	                        Copyright© 1999, kobayauction, Inc All rights reserved.
	                    </p>
	                </div>
	            </div>
	        </div>	
	        </div>
	    </footer>
	</div>	
</html>